*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    text-align: center;    
    margin: 30px auto;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

h2{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}
p{
    font-size: 1.2rem;
    margin: 10px auto;
    color: #555;
}

/* Add styles for the buttons and input fields */

#js-subscribe-button, #js-remove-todo{
    background-color: #b50000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

#js-todo-button{
    background-color: #027030;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
}

li {
   
    font-size: 1.2rem;
    min-width: 500px;
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
